.gui-div {
    position: absolute;
    border: 2px solid black;
    background: white;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    z-index: 1000000;
}

* {
    cursor: default;
}

#class-container-gui-display, #id-container-gui-display {
    display: flex;
    align-items: center;
    gap: 8px;
    max-height: 100px;
    overflow: scroll;
    margin-bottom: 10px;
}

#classes-title-gui-display, #id-title-gui-display {
    margin-top: 0;
    margin-bottom: 0;
}

#class-input-gui-display, #id-input-gui-display {
    flex: 1;
}

#delete-element-btn-gui-display {
    background-color: rgb(205, 0, 0);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

#delete-element-btn-gui-display:hover {
    background-color: darkred;
}
